* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 200px;
  background-color: dimgrey;
  background-image: url('https://images.pexels.com/photos/681336/pexels-photo-681336.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
}

input[type="text"] {
  margin-top: 50px;
  padding: 10px;
  width: 200px;
  text-align: center;
}

input[type="submit"] {
  margin-top: 10px;
  display: block;
  padding: 50px;
}

footer {
  margin-top: 300px;
  width: 100%;
}


